<div class="row  app-title-page">
  <h1 class="col-md-12">ACTUALIZACIÓN DE BOLETINES</h1>
  <div class="col-md-6 text-right">
  </div>
</div>
<form [formGroup]="boletinForm">
  <div class="row">
    <div class="col-md-12">


      <div class="row">
        <div class="col-md-12">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Registrar datos del Boletín
              </mat-card-title>
            </mat-card-header>

            <mat-card-content>

              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Número de Boletín</mat-label>
                    <input matInput placeholder="Número de Boletín" name="numeroBoletin"
                           formControlName="numeroBoletin" required>
                  </mat-form-field>
                </div>

                <div class="col-sm-6 col-md-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Fecha</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="Fecha"
                           formControlName="fecha"
                           [readonly]="true"
                           name="fecha"
                           required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="year" [startAt]="fecha_nacimiento_inicio"></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="col-sd-6 col-md-4">
                  <mat-form-field appearance="fill">
                    <mat-label>Adjuntar Boletín</mat-label>
                    <ngx-mat-file-input accept="application/pdf" placeholder="Adjuntar Boletín"
                                        formControlName="adjunto"
                                        [accept]="'.pdf'" required
                                        (change)="selectedFileDocAprobacion($event)"></ngx-mat-file-input>
                    <mat-icon matSuffix>folder</mat-icon>
                  </mat-form-field>
                </div>

              </div>

            </mat-card-content>

            <mat-card-actions>
              <div class="col-md-12 app-form-buttons">
                <button mat-stroked-button color="primary"
                        (click)="cancelar()" type="button">
                  <mat-icon>keyboard_arrow_left</mat-icon>
                  Cancelar
                </button>
                <button mat-raised-button color="accent" [disabled]="boletinForm.invalid"
                        (click)="guardar()" type="button">
                  <mat-icon>save</mat-icon>
                  Grabar
                </button>
              </div>
            </mat-card-actions>

          </mat-card>
        </div>
      </div>

    </div>
  </div>
</form>
