<div class="row  app-title-page">
  <h1 class="col-md-12">CALENDARIO DE ACTIVIDADES</h1>
  <div class="col-md-6 text-right">
  </div>
</div>


<form [formGroup]="busquedaForm">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Criterios de Consulta
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Actividad</mat-label>
                    <input matInput placeholder="Actividad" name="actividad"
                           formControlName="actividad">
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-md-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Fecha de Actividad - Desde</mat-label>
                    <input matInput [matDatepicker]="pickerFIActividad" placeholder="Fecha de Actividad - Desde"
                           formControlName="fechaInicioActividad"
                           [readonly]="true"
                           name="fechaInicioActividad">
                    <mat-datepicker-toggle matSuffix [for]="pickerFIActividad"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFIActividad startView="year"
                                    [startAt]="fecha_nacimiento_inicio"></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-md-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Fecha de Actividad - Hasta</mat-label>
                    <input matInput [matDatepicker]="pickerFFActividad" placeholder="Fecha de Actividad - Hasta"
                           formControlName="fechaFinActividad"
                           [readonly]="true"
                           name="fechaFinActividad">
                    <mat-datepicker-toggle matSuffix [for]="pickerFFActividad"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFFActividad startView="year"
                                    [startAt]="fecha_nacimiento_inicio"></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="col-sm-6 col-md-1">
                  <section class="app-checkbok-form-field">
                    <mat-checkbox formControlName="fueEjecutado">Se Ejecutó ?</mat-checkbox>
                  </section>
                </div>


                <div class="col-sm-6 col-md-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Fecha Ejecución Actividad</mat-label>
                    <input matInput [matDatepicker]="pickerEJEctividad" placeholder="Fecha Ejecución Actividad"
                           formControlName="fechaEjecucionActividad"
                           [readonly]="true"
                           name="fechaEjecucionActividad">
                    <mat-datepicker-toggle matSuffix [for]="pickerEJEctividad"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEJEctividad startView="year"
                                    [startAt]="fecha_nacimiento_inicio"></mat-datepicker>
                  </mat-form-field>
                </div>


              </div>
              <div class="row">
                <div class="col-sm-6 col-md-12 app-search-buttons app-form-buttons">
                  <button mat-raised-button color="primary">
                    <mat-icon>search</mat-icon>
                    Buscar
                  </button>
                  <button mat-raised-button color="accent" (click)="nuevoRegistro()">
                    <mat-icon class="material-icons-outlined">insert_drive_file</mat-icon>
                    Nuevo
                  </button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Listado de Actividades
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>

              <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="item">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> NRO.</th>
                  <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>

                <ng-container matColumnDef="actividad">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIVIDAD</th>
                  <td mat-cell *matCellDef="let row"> {{row.actividad}} </td>
                </ng-container>

                <ng-container matColumnDef="fechaActividad">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA ATC.</th>
                  <td mat-cell *matCellDef="let row"> {{row.fechaActividad}} </td>
                </ng-container>

                <ng-container matColumnDef="horaInicio">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> HORA INICIO</th>
                  <td mat-cell *matCellDef="let row"> {{row.horaInicio}} </td>
                </ng-container>


                <ng-container matColumnDef="horaFin">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> HORA FIN</th>
                  <td mat-cell *matCellDef="let row"> {{row.horaFin}} </td>
                </ng-container>

                <ng-container matColumnDef="fueEjecutado">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> EJECUTO?</th>
                  <td mat-cell *matCellDef="let row"> {{row.fueEjecutado}} </td>
                </ng-container>

                <ng-container matColumnDef="fechaEjecucion">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA</th>
                  <td mat-cell *matCellDef="let row"> {{row.fechaEjecucion}} </td>
                </ng-container>


                <ng-container matColumnDef="ver">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> VER</th>
                  <td mat-cell *matCellDef="let row" class="text-center">
                    <button mat-stroked-button matTooltip="Ver Registro" color="primary"
                            (click)="verRegistro(row.id)">
                      <mat-icon>remove_red_eye</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <ng-container matColumnDef="editar">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> EDITAR</th>
                  <td mat-cell *matCellDef="let row" class="text-center">
                    <button mat-stroked-button matTooltip="Editar Registro" color="primary"
                            (click)="editarRegistro(row.id)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <ng-container matColumnDef="eliminar">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> ELIMINAR</th>
                  <td mat-cell *matCellDef="let row" class="text-center">
                    <button mat-stroked-button matTooltip="Eliminar Registro" color="accent"
                            (click)="eliminarRegistro(row.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>


            </mat-card-content>
          </mat-card>
        </div>
      </div>
