<div class="row app-title-page">
  <h1 class="col-md-12">ACTUALIZACIÓN DEL CONSEJERO</h1>
  <div class="col-md-6 text-right">
  </div>
</div>
<form [formGroup]="consejeroForm">
  <div class="row">
    <div class="col-md-12">


      <div class="row">
        <div class="col-md-12">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Datos del Consejero
              </mat-card-title>
            </mat-card-header>

            <mat-card-content>

              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Tipo de documento</mat-label>
                    <mat-select placeholder="Tipo de documento" formControlName="tipoDocumento"
                                name="tipoDocumento"
                                required>
                      <mat-option *ngFor="let documentoTipo of documentosTipo" [value]="documentoTipo.codigo">
                        {{documentoTipo.descripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Número de documento</mat-label>
                    <input matInput placeholder="Número de documento" name="numeroDocumento"
                           formControlName="numeroDocumento" required>
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Nombres</mat-label>
                    <input matInput placeholder="Nombres" name="nombres" formControlName="nombres" required>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Apellido Paterno</mat-label>
                    <input matInput placeholder="Apellido Paterno" name="apellido_paterno" required
                           formControlName="apellidoPaterno">
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Apellido Materno</mat-label>
                    <input matInput placeholder="Apellido Materno" name="apellido_materno" required
                           formControlName="apellidoMaterno">
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Prófesion</mat-label>
                    <input matInput placeholder="Prófesion" name="profesion" formControlName="profesion">
                  </mat-form-field>
                </div>
              </div>


              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" name="email" formControlName="email" required>
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Email2</mat-label>
                    <input matInput placeholder="Email 2" name="email2" formControlName="email2">
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Entidad que Representa</mat-label>
                    <mat-select placeholder="Entidad que Representa" formControlName="entidad"
                                name="entidad">
                      <mat-option *ngFor="let entidad of entidades" [value]="entidad.codigo">
                        {{entidad.descripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>


              <div class="row">
                <div class="col-sm-6 col-md-4" style="padding-top: 1em;">
                  <mat-radio-group aria-label="Select an option" formControlName="tipo">
                    <mat-radio-button value="1">TITULAR</mat-radio-button>
                    <mat-radio-button value="2">ALTERNO</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col-sm-6 col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Fecha Inicio</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="Fecha Inicio" formControlName="fechaInicio"
                           [readonly]="true"
                           name="fecha_inicio"
                           required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="year" [startAt]="fecha_nacimiento_inicio"></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Fecha Fin</mat-label>
                    <input matInput [matDatepicker]="picker2" placeholder="Fecha Fin" formControlName="fechaFin"
                           [readonly]="true"
                           name="fecha_fin">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 startView="year" [startAt]="fecha_nacimiento_inicio"></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>


              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Documento Designado</mat-label>
                    <input matInput placeholder="Documento Designado" name="documento_designado"
                           formControlName="documentoDesginado">
                  </mat-form-field>
                </div>
                <div class="col-sd-6 col-md-4">
                  <mat-form-field appearance="fill">
                    <mat-label>Adjuntar Documento de Designacion</mat-label>
                    <ngx-mat-file-input accept="application/pdf" placeholder="Adjuntar Documento de Designacion"
                                        formControlName="adjunto"
                                        [accept]="'.pdf'"
                                        (change)="selectedFile($event)"></ngx-mat-file-input>
                    <mat-icon matSuffix>folder</mat-icon>
                  </mat-form-field>
                </div>
              </div>


            </mat-card-content>

            <mat-card-actions>
              <div class="col-md-12 app-form-buttons">
                <button mat-stroked-button color="primary"
                        (click)="cancelar()" type="button">
                  <mat-icon>keyboard_arrow_left</mat-icon>
                  Cancelar
                </button>
                <button mat-raised-button color="accent" [disabled]="consejeroForm.invalid"
                        (click)="guardar()" type="button">
                  <mat-icon>save</mat-icon>
                  Grabar
                </button>
              </div>
            </mat-card-actions>

          </mat-card>
        </div>
      </div>

    </div>
  </div>
</form>
